html
    head
        link(
            href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
            rel='stylesheet'
        )
        link(href='/css/github-interest.css' rel='stylesheet')
    body
        div(class="search")
            div(class="search-area-component")
                div(class="search-header")
                    h1 Find similar github projects
                div(class="serach-body")
                    form(method="get" action="/")
                        input(type="text" name="reponame" class="form-control input-lg serach-term" value="#{searchterm ? searchterm : 'e.g. twbs/bootstrap'}")
                        input(type="submit" value="Find" class="btn btn-primary btn-lg search-btn")
        if error
            div(class="alert alert-danger")
                span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
                | #{error}
        if content
            h1
            each val in content
                a(href="https://github.com/#{val.name}")
                    div(class="github-mark")
                div(class="progress progress-striped")
                    div(class="progress-bar progress-bar-result" style="width:#{val.percent}%")
                        a(href="/?reponame=#{val.name}" class="search-result-link") #{val.name}
