html
    head
        link(
            href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
            rel='stylesheet'
        )
    body
        h1 Find interesting github projects
        form(method="get" action="/")
            p Reference Project:
                input(type="text" name="reponame")
                input(type="submit" value="Find")
        if content
            h1 Result
            ul
                each val in content
                    div(class="progress progress-striped")
                        div(class="progress-bar progress-bar-success" style="width:#{val.percent}%")
                            a(href="https://github.com/#{val.name}" style="color:white") #{val.name} : #{val.count}
